figure {
  display: block;
  margin: 0;
}

.graf-figure {
  position: relative;
  clear: both;
  outline: 0;
  box-sizing: border-box;
}

.aspectRatioPlaceholder {
    position: relative;
    width: 100%;
    margin: 0 auto;
    display: block;
}

.aspectRatioPlaceholder-fill {
    display: block;
}

.progressiveMedia {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.05);
}

.progressiveMedia-thumbnail {
  display: none;
}

.progressiveMedia-canvas {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: auto;
  box-sizing: border-box;
  vertical-align: baseline;
}

.progressiveMedia-image {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: auto;
  z-index: 100;
  box-sizing: border-box;
}
